doctype html
html
	head
		title= app.config.title

	body
		#header
			h1#title
				a.ajax(href='/')
					.title-word Cafe
					| 
					.title-word Meeple
		if !user
			#toolbar
				a.button(href='/auth/facebook')
					span.fa.fa-sign-in
					| Facebook login
		else
			nav#toolbar
				a.button.ajax(href='/')
					i.fa.fa-group
					span.nav-text Hangouts
				a.button.ajax(href='/leaderboards')
					i.fa.fa-trophy
					span.nav-text Leaderboards
				a.button.ajax(href='/profile')
					i.fa.fa-user
					span.nav-text Profile
				a.button.ajax(href='/settings')
					i.fa.fa-cog
					span.nav-text Settings
				a.button(href='/logout')
					i.fa.fa-sign-out
					span.nav-text Logout
		main#content.fade!= content