h2 New hangout

p
	input#game(type='text', placeholder='Game title', list='games')
	input#date(type='date')
	input#time(type='time')

p
	textarea#message(placeholder='Message')

.button(onclick='publishHangout()')
	span.fa.fa-check
	| Publish

datalist#games
	each game in games
		option(value=game.title)