if !user
	.toolbar
		a.button(href='/auth/facebook')
			span.fa.fa-sign-in
			| Facebook login
else
	p
		| Welcome 
		a= `${user.first_name}`
		| .
	.toolbar
		button
			span.fa.fa-group
			| New hangout
		a.button(href='/logout')
			span.fa.fa-sign-out
			| Logout