#header
	background-color headerBGColor
	padding layoutPadding
	text-transform uppercase
	letter-spacing 1em

#title
	padding 0
	transform rotateX(-90deg)
	transition transform 800ms ease

.title-word
	display inline-block
	color rgba(255, 255, 255, 0.6)

	&:first-letter
		color rgba(255, 255, 255, 0.85)