button, .button
	appearance none
	border none
	background-color rgb(60, 60, 60)
	color white
	padding 0.75em 1em
	font inherit
	border-radius 3px
	transition background-color 250ms ease
	text-align center
	margin 0.25em
	
	&:hover
		cursor pointer
		background-color rgb(72, 72, 72)